<!-- <div class="col-mp mp-12">
    <input type="checkbox" name="newsletter"
        data-bind="checked: isRegisterNewsletter, attr: {id: 'place-order-newsletter'}" />
    <label data-bind="attr: {for: 'place-order-newsletter'}"><span
            data-bind="i18n: 'Register for newsletter'"></span></label>
</div>-->

<!-- <span>Hey, if you want to edit the cart, click <a href="/checkout/cart">here</a></span> -->
<span> <a data-bind="attr: {href: window.checkoutConfig.cartUrl}">edit the cart</a></span>
<!-- <h1>Hello World!!!</h1> -->